# Dynamically generated configuration

{{ $logpos_token := split .Env.TOKEN "-" }}
{{ $logpos_filter := replace .Env.LOG_FILTERS "," "-" 9999 }}
{{ range $value := whereAny $ "Env.LOG_FILES" "," (split .Env.LOG_FILTERS ",") }}
<source>
    type tail
    format json
    time_key time
    path /var/lib/docker/containers/{{ $value.ID }}/{{ $value.ID }}-json.log
    pos_file /var/lib/docker/containers/{{ $value.ID }}/{{ index $logpos_token 0 }}-{{ $logpos_filter }}-json.log.pos
    tag docker.container.json.{{ $value.ID }}
    rotate_wait 5
</source>

<match docker.container.json.{{ $value.ID }}>
    type record_reformer
    tag docker.container.jsonmeta
    <record>
        container_id {{printf "%.*s" 12 $value.ID}}
        container_name {{ $value.Name }}
        container_image {{ $value.Image }}
    </record>
</match>
{{ end }}

<match tag docker.container.jsonmeta>
    type jsonbucket
    output_tag docker.container
    json_key message
</match>

<match docker.container>
    type logentries
    config_path /etc/logentries/tokens.conf
</match>
